body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
th,td {
    background-color:pink;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    width: 90px;

}
th {
    background-color: yellow;
    font-weight: bold;

}

.header {
    background-color: yellow;
    font-weight: bold;
    font-size: 20px;
    width: 150px;

}

.time-column {
    background-color: #b2b2b2;
}
td{
    background-color: white;

}
th, td{
    border: 1px solid black;
}
table tr:first-child th{
    border-bottom: 2px solid black;
}
.home{
    background-color: rgb(255,192,203);
    width: 140px;
}